.light {
    border-radius: 50%;
    background-color: #333;
    box-shadow: inset 0 0 20px #000;
    transition: all 0.3s;
    border: 4px solid #222;
}

.light.red.active {
    background-color: #ff3333;
    box-shadow: 0 0 50px #ff3333;
}

.light.green.active {
    background-color: #00fa9a;
    box-shadow: 0 0 50px #00fa9a;
}

.light.yellow.active {
    background-color: #ffd700;
    box-shadow: 0 0 50px #ffd700;
}